html {
   background-color: cornsilk;
   background-repeat: no-repeat;
   background-size: cover;
}

.todo-list-item {
   transition: all 0.3s ease-out;
}

.todo-list-item-fall {
   opacity: 0;
}

.container {
   width: 600px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: auto;
   font-family: 'Raleway', sans-serif;
   color: rgba(94, 9, 65, 0.521);
}

.main {
   padding: 20px;
}

form {
   background-color: #FFFFFF;
   padding: 20px;
   border-radius: 5px;
   display: flex;
}

.editclear {
   /*background-color: #FFFFFF;
   padding: 20px;
   padding: 15px 0;*/
   border-radius: 5px;
   display: flex;
   flex-grow: 1;
   padding: 20px 0px;
}
/* only select text fields  */
input[type="text"] {
   height: 30px;
   outline: 0;
   border: none;
   font-size: 16px;
   font-family: 'Raleway', sans-serif;
   color: #595959;
   flex-grow: 1;
}

button {
   font-size: 20px;
   background-color: #FFFFFF;
   outline: 0;
   border: none;
   color: #595959;
}

button .editAll {
   font-size: 20px;
   background-color: #FFFFFF;
   outline: 0;
   border: none;
   color: #595959;
}

button:hover {
   color: lightcoral;
}

.todoList {
   background-color: #8772e6;
   border-radius: 5px;
   margin-top: 20px;
   padding: 10px 25px;
   height: 100%;
   overflow-y: auto;
   color:white;
}

ul {
   padding-left: 0px;
   list-style: none;
}

li {
   display: flex;
   align-items: center;
   border-bottom: 1px solid lightgrey;
   padding: 15px 0;
   font-size: 15px;
   color: white;
}

img {
   cursor: pointer;
}

.todo-item {
   flex-grow: 1;
}

.add{
   height: 20px;
   width: 20px;
}

.clearAll ,.editAll {
   display: flex;
   justify-content: flex-end;
   /*padding: 10px 3px;*/
   cursor: pointer;
   font-size: 17px;
   background-color: #8772e6;
   color: rgb(220, 235, 137);
   
}

